*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/app/ApiKey.kt
app/src/main/java/com/example/app/ApiKey.kt
# Kotlin
*.kotlin_module

# Node.js (for PM2)
node_modules/

# PM2
ecosystem.config.js

.env



